.card-filter-container {
  background-color: var(--bg-tertiary-color);
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 960px;
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
}

.card-filter-form {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 20px;
}

.card-filter-container input {
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.card-filter-container input:nth-child(2) {
  margin-top: 20px;
}

.card-filter-button {
  background-color: var(--bg-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 200px;
  color: var(--text-primary-color);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card-filter-container input::placeholder {
  padding-left: 10px;
  font-size: 16px;
  color: var(--text-quartiary-color);
}


input {
  padding-left: 10px;
  color: var(--text-secondary-color);
}
