.card-listing-container {
  height: 408px;
  width: 960px;
  border: 1px solid var(--border-primary-color);
  border-radius: 5px;
  padding: 20px 20px 10px 20px;
  background-color: var(--bg-tertiary-color);
}

.card-listing-items {
  display: flex;
  flex-direction: column;
}

.card-listing-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  height: 53px;
  width: 920px;
  border: 1px solid var(--border-secondary-color);
  border-radius: 5px;
}

.card-listing-item h4 {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.card-listing-item p {
  font-size: 16px;
  color: var(--text-tertiary-color);
  font-weight: bold;
}
