@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-primary-color: #55BC04;
    --bg-secondary-color: #C2C2C2;
    --bg-tertiary-color: #FFFFFF;

    --text-primary-color: #FFFFFF;
    --text-secondary-color: #6F6F6F;
    --text-tertiary-color: #55BC04;

    --border-primary-color: #C2C2C2;
    --border-secondary-color: #55BC04;

}

html, body {
    font-family: Roboto;
}